<!DOCTYPE html>
<html>
<head>
  <title>Codehero</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<%= render 'shared/header' %>

<%= render 'shared/message' %>

	<main>
		<div class="container">
			<%= yield %>
		</div>
	</main>


<%= render 'shared/footer' %>
        

</body>
</html>

<script> 

    $(document).ready(function() {
       $('select').material_select();
    });
    $(".button-collapse").sideNav();
    $(".dropdown-button").dropdown();
  

 </script>
